@import url('ComicSans.ttf');

* {
    font-family: "ComicSans", "Comic Sans", "Comic Sans MS", "Chalkboard", sans-serif;
}

body {
    background: blue;
    color: white;
}

button {
    color: #ff00ff;
}

.redBtn {
    background: red;
}
.greenBtn {
    background: green;
}

a {
    color: yellow;
}