@font-face {
    font-family: 'ComicSans';
    src: url('https://arthhamster.github.io/FirstProject/ComicSans.ttf') format('truetype');
}

* {
    font-family: 'ComicSans', 'Comic Sans MS', 'Comic Sans', 'Chalkboard', sans-serif;
}

body {
    background: blue;
    color: white;
}
 
button {
    color: #ff00ff;
}

.redBtn {
    background: red;
}
.greenBtn {
    background: green;
}
.blueBtn {
    background: blue;
}

a {
    color: yellow;
}